/* Aquí construiremos nuestros estilos CSS *//* ===== Frases flotantes ===== */

body{
    margin:0;
    height:100vh;
    overflow:hidden;
    background:
    radial-gradient(circle at top,#24104f,#000);
    font-family:Arial, sans-serif;
}


/* 🌌 Fondo universo */

.stars{

    position:fixed;
    width:100%;
    height:100%;

    background:
    radial-gradient(circle,#ffffff 1px,transparent 1px);

    background-size:50px 50px;

    animation:starsMove 20s linear infinite;

    opacity:.5;

    z-index:0;

}


@keyframes starsMove{

    from{
        background-position:0 0;
    }

    to{
        background-position:100px 100px;
    }

}



/* 💕 Palabras flotando */

.floating-word{

    position:absolute;

    font-size:18px;

    font-weight:bold;

    white-space:nowrap;

    pointer-events:none;

    user-select:none;

    opacity:0;

    z-index:5;

    text-shadow:0 0 12px white;

    animation:
    floatWord 6s linear forwards,
    colorChange 8s ease-in-out infinite;

}



@keyframes floatWord{


0%{

transform:translate(0,40px) scale(.8);

opacity:0;

}


25%{

transform:translate(15px,-20px) scale(1);

opacity:1;

}


50%{

transform:translate(-10px,-70px);

}


75%{

transform:translate(12px,-120px);

opacity:1;

}


100%{

transform:translate(-8px,-180px) scale(1.08);

opacity:0;

}

}



@keyframes colorChange{


0%{

color:white;

}


25%{

color:#ff7ac8;

}


50%{

color:#7dd3fc;

}


75%{

color:#ffd166;

}


100%{

color:white;

}

}



/* 💙 Stitch */

.stitch{

position:absolute;

width:250px;

bottom:20px;

left:50%;

transform:translateX(-50%);

z-index:4;


animation:

floatStitch 3s ease-in-out infinite,

glowStitch 2s ease-in-out infinite;

}



@keyframes floatStitch{


0%,100%{

transform:translate(-50%,0);

}


50%{

transform:translate(-50%,-25px);

}

}



@keyframes glowStitch{


0%,100%{

filter:drop-shadow(0 0 10px #00d9ff);

}


50%{

filter:drop-shadow(0 0 35px #00ffff);

}

}



/* ❤️ Corazones */

.corazon{

position:absolute;

bottom:-20px;

font-size:25px;

z-index:3;

animation:

subirCorazon 7s linear forwards;

}



@keyframes subirCorazon{


0%{

transform:
translateY(0)
scale(1);

opacity:1;

}


100%{

transform:
translateY(-100vh)
rotate(360deg)
scale(.5);

opacity:0;

}

}